body {
    background: rgb(211, 211, 211);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 0;

}
html {
    scroll-behavior: smooth;
  }

.up {
    display:scroll;
    position:fixed;
    bottom:0;
    right:0; 
    text-decoration: none;
    color: rgb(44, 33, 56); 
    z-index: 11;
}


.logo {
    float: left;
    position: relative;
    padding-top: 1%;
}
nav{
    margin-top: 2%;
    
}

.contenedor {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    padding-top: 2%;
    
}
.contenedor h3{
    padding-top: 5rem;

}



header {
    height: 100vh;
    background: linear-gradient(rgba(56, 55, 55, 0.986), rgba(73, 113, 153, 0.644)), url(images/445785133a769a6.jpg) right no-repeat;
    background-size: cover;
    margin-top: -145;
}

.menu{
    position: fixed;
    width: 100%;
    transition: .5s;  
    z-index: 10; 
}

.shadow{
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.7);
}

#contenedor-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    
}

header .logo {
    color: white;
    font-size: 31px;
}
.menu-icon{
    display: none;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 43px;
    
}

nav ul li {
    margin-right: 35px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: white;
}
nav ul li a{
    text-decoration: none;
    color:white;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    padding-top: 150px;
    }

.contenedor-titulo h1 {
    font-size: 65px;
    color: white;
}

.contenedor-titulo h2 {
    font-size: 25px;
    color: white;
    text-align: center;
}

.contenedor-titulo a {
    width: 145px;
    font-size: 16px;
    display: inline-block;
    background: rgb(52, 161, 250);
    color: white;
    padding: 20px 35px;
    border-radius: 10px;
    text-decoration: none;
}

.contenedor-titulo .titulo {
    text-align: center;
}

#about h3 {
    text-align: center;
    font-size: 50px;
}

#about img {
    width: 80%;
    height: 100%;
    
}

#about .contenido {
    display: flex;
    justify-content: space-around;
}

#about .about-text {
    width: 100%;
}

#about a {
    width: 145px;
    font-size: 16px;
    display: inline-block;
    background: rgb(52, 161, 250);
    color: white;
    padding: 20px 35px;
    border-radius: 10px;
    margin-top: 10px;
    text-decoration: none;
}

#servicios h3 {
    text-align: center;
    font-size: 50px;
}

.contenedor-servicios .color1 {
    background-image: linear-gradient(to top, #4d4f85, #42425a);

}

.contenedor-servicios .color2 {
    background-image: linear-gradient(rgb(77, 75, 75), rgb(73, 113, 153));

}

.contenedor-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white ;
    
}

.contenedor-servicios .servicio {
    padding: 34px 30px 38px 0px;
    border-radius: 10px;
    width: 35%;
    margin-bottom: 50px;
    position: relative;
}

.contenedor-servicios h4 {
    font-size: 30px;
    margin: 0;
}

.contenedor-servicios p {
    margin-bottom: 20px;
    height: 200px;
    margin-left: 25px;
}

.contenedor-servicios .icono {
    float: right;
}

.contenedor-servicios h4 {
    text-align: center;
}

.contenedor-servicios p {
    text-align: center;
}

.fondoServicios {
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    opacity: 0.2;

}

#trabajos h3 {
    font-size: 50px;
    text-align: center;
}

#trabajos img {
    transform: scale(1);
    transition: .4s;
    text-decoration: none;
}

#trabajos img:hover {
    transform: scale(0.9);
    transition: .4s
}

#trabajos p {
    text-align: center;
    color: black;
    font-weight: bolder;
}

#trabajos a {
    text-decoration: none;
}

.owl-nav button {
    color: rgb(63, 62, 62) !important;
    margin: 0 50px !important;
    font-size: 60px !important;
}

.owl-dots {
    display: none;
}

.owl-nav button:hover {
    background: none !important;
}


#trabajar-conmigo h3 {
    font-size: 50px;
    text-align: center;
}

#trabajar-conmigo .contenedor-trabajar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}

.item.i {
    display: flex;
    
    
}

#trabajar-conmigo .item {
    width: 30%;
    text-align: center;
    background: linear-gradient(rgba(39, 39, 39, 0.877), rgba(70, 103, 136, 0.925)), url("images/processor-2217771_960_720.jpg");
    box-shadow: 3px 3px 17px -4px rgb(0, 0, 0);
    border-radius: 10px;
    

}

#trabajar-conmigo ul li {
    list-style: none;
    text-decoration: none;

}

#trabajar-conmigo ul li:nth-child(1) {
    margin-right: 25px;
    color: rgba(255, 255, 255, 0.767);

}

#trabajar-conmigo ul li:nth-child(2) {
    color: rgba(255, 255, 255, 0.767);
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    
    


}

#trabajar-conmigo ul li:nth-child(3) {
    line-height: 30px;
    margin-right: 25px;
    margin-left: -10px;
    color: rgba(255, 255, 255, 0.767);
}

#cta {
    background: linear-gradient(rgb(56, 55, 55), rgba(73, 113, 153, 0.712)), url(images/2017-05-31-11-00-19-900x598.jpg) right no-repeat;
    background-size: cover;
    height: 200px;
    text-align: center;
    margin-top: 5%;
    padding: 30px 0;
}

#cta h3 {
    font-size: 25px;
    color: white;
}

#cta a {
    border-radius: 10px;
    background: rgb(52, 161, 250);
    font-size: 16px;
    color: white;
    text-decoration: none;
    width: 160px;
    margin-top: 40px;
    display: inline-block;
    padding: 10px 0;
    letter-spacing: .8px;
}

#contacto h3 {
    font-size: 50px;
    text-align: center;
}

#contacto .form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    background: rgb(211, 211, 211);
}

textarea {
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 20px;
    color: #212121;
    width: 100%;
    margin-bottom: 30px;
    background: rgb(211, 211, 211);
    font-family: 'Poppins', sans-serif;

}

input[type="text"], input[type="email"]{
    width: 48%;
    margin-bottom: 20px;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.808);
    font-size: 20px;
    color: #212121;
    background: rgb(211, 211, 211);
}
input[type="text"]:focus, input[type="email"]:focus, textarea:focus{
    outline: 0;
    border-bottom: 1px solid #0387d1;
}
input[type="submit"]{
width: 140px;
border-radius: 10px;
background: rgb(52, 161, 250);
padding: 20px 0;
font-size: 16px;
color: white;
box-shadow: 1px 2px 2px 0px rgb(36, 35, 35);
border: 0;
display: inline-block;
cursor: pointer;
transition: .5s;
margin: auto;
 
}

input[type="submit"]:hover {
    background: #6672e0;
    transition: .5s;
}
.success {
color: white;
background: rgb(47, 145, 86);
padding:  15px 50px;
margin-bottom: 25px;
position: fixed;
top: 90%;
right: 100px;
display: none;
}
.contacto-info{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}
.contacto-info i {
    vertical-align: middle;
    margin-right: 15px;
    color: #0387d1;
    margin-bottom: 20px;
}
footer{
    background: #32323f;
    padding: 0;
    text-align: center;
}

footer .contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer i{
    margin: 0 50px;
    transform: rotate(0);
    transition: .6s;
    text-decoration: none;
    color: #0387d1;;
}
footer i:hover{
    transform: rotate(360deg);
    color: white;
    transition:  .6s;
}
footer p{
    color: white;
    margin-top: 40px;   
}

@media screen and (max-width: 800px) {

.titulo h1{
    font-size: 40px;
}
.titulo h2{
    margin-bottom: 50px;
    font-size: 15px;
}
#about .contenido{
    flex-direction: column;
}
#about img{
    width: 100%;
}
#about .about-text {
    width: 100%;
}
.contenedor-servicios{
    flex-direction: column;
    
}
.contenedor-servicios .servicio{
    width: 90%;    
}
#trabajar-conmigo .contenedor-trabajar{
    flex-direction: column;
}
#trabajar-conmigo .item{
    width: 100%;
    margin-bottom: 60px;
}
#contacto .form {
    flex-direction: column;
    width: 100%;
}
input[type="text"], input[type="email"] {
    width: 100%;
}
.contacto-info{
   flex-direction: column;
   margin-left: 10%;
}

.menu-icon{
    display: block;
    float: left;
    padding-bottom: 20px;
    margin-top: 17px;
}
header nav {
    position: absolute;
    top: 110px;
    left: 0;
    height: 280px;
    margin-top: 35px;
    background: rgba(56, 55, 55);
    width: 100%;
    display: none;
}
header nav ul {
    flex-direction: column;
}
header nav ul li {
    margin-bottom: 20px;
}
}
